header {
  border-bottom: 1px solid #EAEAEA;

  .headerLeft
  h3, p {
    margin: 0;
  }

  ul {
    width: 200px;

    li {
      .viewSideImage {
        margin-right: 10px;
      }

      img {
        cursor: pointer;
      }

      .price {
        width: 75px;
      }
    }
  }
}
