body {
  margin: 0;
  padding: 0;
  background: #E7F6FF;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Inter, sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  text-decoration: none;
  list-style-type: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;


  h1 {
    margin: 0;
  }
}


.searchBlock {
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

