body {
  margin: 0;
  padding: 0;
  background: #E7F6FF;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Inter, sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  text-decoration: none;
  list-style-type: none;

}


